{% extends 'blog/base.html' %}

{% block content %}
  <div class="jumbotron">
    <h2>Please LOGIN:</h2>
    <h3>(Must Be A SuperUser Please Check With The Site Admin)</h3>

    {% if form.errors %}
      <p>Your Usename and Password didnt match! Please try again!</p>

    {% endif%}

    <form  action="{% url 'login' %}" method="POST">
      {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login">
        
    </form>

  </div>

{% endblock %}
